{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="column">
        <h2>{{ object.band_name }}</h2>
        <p>Rating: {{ object.get_rating_display }}</p>
        <p>Genre: {{ object.get_genre_display }}</p>
        <p>Description: {{ object.description }}</p>
        <p>Sounds Like: {{ object.sounds_like }}</p>
        <a class="btn btn-primary" href="{% url 'update_band' object.pk %}">Update Band</a> <a class="btn btn-primary" href="{% url 'delete_band' object.pk %}">Delete Band</a>
    </div>
</div>
{% endblock content %}
