{% extends 'base.html' %}
{% block content %}
<div class="row justify-content-center">
    <div class="column">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Band Name</th>
                    <th>Rating</th>
                    <th>Genre</th>
                </tr>
            </thead>
            <tbody>
            {% for band in object_list %}
                <tr>
                    <td><a href="{% url 'band' band.pk %}">{{ band.band_name }}</a></td>
                    <td>{{ band.get_rating_display }}</td>
                    <td>{{ band.get_genre_display }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
